#isim{

    color:white;
    transition: all 1s;
}
#isim:hover{
    color:red;
    
}
body{
   background-color:#525252;
}
#soon{
    margin-top:200px;
    padding:20px;
    margin-left: 250px;

}
::selection{
background-color:tomato;
color:white;
}