ul{
    margin-top:15px;
    background-color:#f0a500;
    transition:all 1s linear;
    color:black;
    width:300px;
    height:110px;
    padding:20px;
    cursor: pointer;
    margin-left:20px;
}
ul:hover{
    background-color: #cf7500;
    color:white;
}
ul:focus{
    color:Red;
}
#sosyal-menu img{
    user-select: none;
    transition:all 1s linear;
}
 #sosyal-menu img:hover{
     opacity:50%;
 }
 #baslik{
     text-align: center;
     padding:20px;
     background-color: #cf7500;
     border-radius:50px;
     width:200px;
     height:20px;
     transition:all 1s linear;
    position: relative;
    user-select: none;
 }
 #baslik:hover{
     color: white;
 }
 #Son-Yazilar{
     margin-top:-30px;
 }
 #icerik{
     width:300px;
     height:200px;
     background-color:#f0a500;
     padding:80px;
     border-radius:20px;
     color:white;
    }
#siteler img{

    width:150px;
    height:50px;
    opacity:20%;
    transition:all 1s linear;
    background-color:grey;
}
#siteler img:hover{
    opacity:100%;
}
#slider{
    border-radius:4px;
    margin-top:500px;
    background-attachment: scroll;
    background-color:#f0a500;
}