#isim>h1{
    padding-left:50px;
    color:white;
    transition: all 1s;
}
#isim>h1:hover{
    color:red;
}
body{
   background-color:#525252;
}
#soon{
    margin-top:200px;
    padding:20px;
    margin-left: 250px;

}
::selection{
background-color:tomato;
color:white;
}
#onay{
     float: left;
     margin-left:70px;
     margin-top:0;
     position: fixed;
}
#profil{

    width:500px;
    height:200px;
    background-color:#313131;
    padding:10px;
   

}
#p
#profil>img{
  float: left;
    margin-left:600px;
    padding:20px;
}
#mesj{
    position: relative;
    margin-top:-150px;
    margin-left:150px;
    transition:all 1s;
    border:none;
    outline:none;
    font-family:Impact;
    padding:10px;
}
#mesj:hover{

    color:white;
    background-color: red;

}
